<?xml version="1.0"?>
<!--
/**
 * August Ash Backend Module
 *
 * @author    Peter McWilliams <pmcwilliams@augustash.com>
 * @copyright Copyright (c) 2019 August Ash (https://www.augustash.com)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ash>
            <general>
                <disable_compare_enable>1</disable_compare_enable>
            </general>
        </ash>
        <design>
            <head>
                <default_title>Online Commerce</default_title>
            </head>
        </design>
        <dev>
            <js>
                <merge_files>0</merge_files>
                <minify_files>0</minify_files>
            </js>
            <css>
                <minify_files>0</minify_files>
            </css>
        </dev>
    </default>
</config>
